image: rust:latest

variables:
    CARGO_HOME: $CI_PROJECT_DIR/cargo

run-test:
    stage: test
    before_script:
        - rustup component add rustfmt
    script:
        - rustc --version && cargo --version
        - cargo fmt -- --check
        - cargo test --release --jobs 1
    cache:
        paths:
            - target/
